{% extends "homepage/main.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/homepagestyles.css' %}">
    <div class="maincontainer">
    
            <div class="searchouter">
                <form method="GET" action="/search" class="searchcontainer">
                        {% csrf_token %}
                        <input type="text" name="s" class="search" placeholder="search"></input>
                        <button type="submit" class="fa fa-search searchb"></button>
                </form>
            </div>
    
            <div class="content">
                    {%if posts %}
                            {% if search %}
            
                                <div class="title2"> Search results for : <span style="margin-left:10px">{{ title }}</span></div>
                            {% endif %}
                        {% for post in posts %}
                            <div class="post">
                                     
                                    <a class="author">By: {{ post.author}}</a>
                                    <a class="title" href="/{{ post.id }}">{{ post.title }}</a>
                                    <div class="lower_container">
                                        <a class="date">{{ post.date }}</a>
                                        <a class="comments"><span>Comments: </span>{{ post.comments_amount }}</a>
                                    </div>
                                                      
                            </div>
                             
                        {% endfor %} 
                        
                        {% else %}
                        
                            <div class="noposts">
                                {% if search %}
                                    <b>No posts found<b>
                                {% else %}
                                    <b>There are no posts yet</b>
                                {% endif %}
                            </div>    
                {% endif %}          
            </div>
    <div>
{% endblock %}

