*{margin:0}
a{text-decoration: none;}
body{background-color: rgba(94, 184, 136, 0.438);}

.content{
    height:700px;
    width:900px;
    margin:auto;
    margin-top:10px;
    
    display:flex;
    flex-direction: column;
       
    
}

.post{
    margin:auto auto 10px auto;
    height:150px;
    width:730px;
    border:2px solid rgb(74, 161, 150);
    border-radius: 10px;
    background-color: rgb(74, 161, 150);
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top:10px;
    box-sizing:border-box;   
    padding-bottom:10px;
    padding-top:10px;
}

.lower_container{
    margin-top:20px;
    display:flex;
    flex-direction:row
}

.title{color:white;
    margin-left:30px;
    margin-top:25px;
    font-size: 25px;
}

.date{color:rgb(8, 76, 85);
    margin-left:30px;
    font-size: 17px;
}

.author{
    margin-left:30px;
    color:rgb(8, 76, 85); 
}

.comments{
    margin-left:260px;
    color:rgb(8, 76, 85)
}

.noposts{
    color:rgb(74, 161, 150);
    width:270px;
    margin:auto;
    margin-top:50px;
    font-size:20px
}

.title2{ 
    margin-left:100px;
    
}

.searchouter{
    width:1200px;
    height:30px;
    margin:auto;
    margin-top:20px;
    display:flex; 
    justify-content:center
}

.searchcontainer{
    display:flex;
}

.search{  
    height:30px;
    width:400px;
    border:none;  
    border-radius:3px;
}

.searchb{
    height:30px;
    margin-left:15px;
    background-color:rgb(74, 161, 150);
    border-color:rgb(74, 161, 150)
}

.maincontainer{
    width:100em;
 
}


