.maincontainer{
    width:100em;
    flex-direction:column;
    align-items:center;
}


.content{
    display:flex;
    justify-content:center;
    margin:auto;
    background-color:rgb(74, 161, 150);
    width:640px;
    height:580px;
    flex-direction:column;
    align-items:center;   
    
}

.button1{
    background-color:green;
    border-radius:7px;
    height:30px;
    
    border-color:green;
    color:white;
    margin-top:15px
}

h2{
     color:white;
     margin-bottom:18px;
     
}
.log{
    margin-bottom:120px

}

.log input{
    margin-bottom:20px;
    margin-top:5px
}

.asteriskField {
    display: none;
}